<div class="relative bg-white lg:p-12 p-4 border border-black my-20">
        <p class="underline lg:text-3xl sm:text-2xl lg:mb-6 text-center ">MY CURRICULIM VITAE</p>
         
        <cv-header />

         <hr class="my-10">

         <div>
                <p class="lg:text-3xl sm:text-xl underline">Overview</p>
                <p class="lg:text-xl sm:text-lg lg:my-3 my-5">
                        I am a dedicated software developer with about three years of experience across professional roles, internships, and self-directed learning. I actively practice and learn new skills weekly, with a focus on backend development in Node, Java, and Python, as well as frontend work in TypeScript with frameworks like React and Angular. While my professional experience is primarily centered on JavaScript and TypeScript, I am eager to deepen my expertise with these and other technologies.
                </p>
        </div>
        <hr class="my-10">
        <div class="grid lg:grid-cols-2 gap-3">
                <cv-skills />
                <cv-work-experience />
        </div>
        <hr class="my-10">
        <!-- todo: Education -->
        <div class="grid lg:grid-cols-2 gap-3">
                <cv-education />
                <cv-soft-skills />
        </div>
        <!-- todo: Certifications -> link to achivements -->
</div>

