<div class="flex flex-col w-full mt-10">
    <p class="lg:text-3xl sm:text-xl underline">About me</p>
    <div class="flex w-full flex-col lg:flex-row">
        <ul class="w-full flex flex-col justify-between lg:py-10 py-2">
            <li class="lg:text-2xl sm:text-xl lg:my-3 my-2">name: Simón González Quirós</li>
            <li class="lg:text-2xl sm:text-xl lg:my-3 my-2">
                email: simongonzalezquir&#64;gmail.com
            </li>
            <li class="lg:text-2xl sm:text-xl lg:my-3 my-2">
                LinkedIn: <a target="_blank" class="underline text-blue-400" href="https://www.linkedin.com/in/simongq">simongq</a>
            </li>
            <li class="lg:text-2xl sm:text-xl lg:my-3 my-2">
                Github: <a target="_blank" class="underline text-blue-400" href="https://github.com/SimonKgs">SimonKgs</a>
            </li>
        </ul>
        <div class="flex justify-center items-center w-full">
            <img src="/assets/me.jpeg" class="rounded-xl" height="400" width="350" alt="My photo">
        </div>
    </div>
 </div>