@if (isLoading()) {
    <div class="w-full flex items-center space-x-2 my-5">
        <div class="w-6 h-6 border-4 border-t-transparent border-green-800 rounded-full animate-spin"></div>
        <p class="text-green-800 text-2xl">Loading...</p>
      </div>
} @else {
    <div class="grid gap-6 lg:grid-cols-3 p-4">
        @for (card of cards(); track $index) {
            @if (card.imageUrl) {
                <card [card]="card"/>
            }
        } @empty {
            <p class="text-xl">There is no results</p>
        }
    </div>
}