<div class="mx-auto w-full">
    <app-hero pageTitle="Projects" subtitle="A Glimpse into My Work"/>
    <div class="max-w-7xl w-full mx-auto lg:my-32 my-16 px-4 overflow-hidden">

        <p class="lg:text-4xl text-2xl mb-10 underline font-bold">My Projects</p>
        <p class="lg:text-2xl text-xl">
            In this section, I'll share a few projects that were significant to my growth, whether as valuable learning experiences or personal challenges. Each one, regardless of complexity, helped me build new skills, confidence, and knowledge. While I won’t cover all my projects here, you can find more on my <a href="https://github.com/SimonKgs" class="text-blue-600">GitHub</a>.
        </p>
        <hr class="my-10 border-slate-800">
        <div class="grid lg:grid-cols-2 gap-10">
            @for (project of projects(); track $index) {
                @defer ( on idle) {
                    <project class="h-full" [project]="project"/>
                }  @loading {
                    <!-- Loading placeholder, which displays until the `project` component loads -->
                    <div class="h-full flex items-center justify-center bg-gray-200">
                        <p>Loading...</p>
                    </div>
                }
            } @empty {
                <p class="px-4 py-1 lg:text-2xl text-xl">Sorry, I don't have any project to show</p>
            }
        </div>
    </div>
</div>

