
<div class="mt-12 lg:mt-16">
    <div class="max-w-7xl w-full mx-auto lg:my-24 gap-6 my-14 px-4 grid lg:grid-cols-4 md:grid-cols-2 overflow-hidden">
        <button 
        (click)="openCloseModal()"
        class="bg-slate-600
            h-52
            flex
            justify-center
            items-center 
            bg-opacity-80 
            rounded-xl 
            text-6xl 
            font-extrabold
            shadow-lg 
            transition 
            duration-200 
            hover:bg-slate-700 
            hover:bg-opacity-90 
            hover:text-slate-200 
            hover:shadow-2xl"
        >
            +
        </button>
        @for (deck of decks(); track $index) {
            <a [routerLink]="['/mtg/decks', deck.id]" class="block">

                <div
                    class="relative h-52 flex justify-center items-center rounded-xl bg-cover bg-center bg-[url('/assets/default-magic.jpg')] 
                        transition-transform duration-300 transform hover:scale-105 hover:bg-opacity-75"
                >
                    <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl transition-opacity duration-300 hover:bg-opacity-30"></div>
                    <span class="relative text-white text-2xl font-bold">{{ deck.name }}</span>
                </div>

            </a>
        } @empty {
            <p>There are no decks</p>
        }  
        @if ( openModal() ){
            <!-- Modal container centered on both X and Y axes -->
            <div class="fixed flex flex-col h-96 z-30 w-full max-w-lg left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4">
                <div class="w-full bg-white border-8 border-black rounded">
                    <div class="flex border-b-4 border-black h-20 bg-green-800 justify-between items-center px-4">
                        <p class="text-black text-xl">Create Deck</p>
                        <button class="bg-black text-white text-xl rounded-full p-2 h-10 w-10 flex items-center justify-center" (click)="openCloseModal()">X</button>
                    </div>
                    
                    <div class="p-4">
                        <form [formGroup]="myForm" class="row g-3 align-items-center">

                            <div class="col-auto text-xl">
                                <label>Deck Name:</label>
                            </div>
                    
                            <div class="col-auto  mb-5 mt-2">
                                <input formControlName="name" type="text" class="form-control text-xl border-b bg-slate-100 px-2 py-1 rounded-t-sm border-black w-full">
                            </div>
                            
                            
                    
                            <div class="row mt-2 flex items-center justify-center mb-4">
                                <div class="col">
                                    <button (click)="createDeck()" class="btn bg-green-800 text-xl px-5 py-2 rounded-md hover:bg-green-700 transition-all">Create Deck</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        }
    </div>
</div>