<div class="w-screen h-12 lg:h-16 flex items-center justify-around bg-slate-600 border-b-4 border-black p-4 fixed top-20 left-0 z-40">

    <!-- Mobile menu button -->
    <button #toggleButton class="md:hidden text-xl" (click)="collapseMenu()">
        @if (isMenuOpen()) {
            <img src="/assets/magic-logo.svg" alt="Logo" class="h-10 w-10" />
        } @else {
            <img src="/assets/magic-logo-filled.svg" alt="Logo" class="h-10 w-10" />
        }
        
    </button>


    <!-- Desktop menu -->
    <div class="hidden md:flex w-full h-15 justify-around">
        @for (item of menuItems; track $index) {
            <ul>
                <li class="">
                    <a [routerLink]="item.path" routerLinkActive="underline text-gray-900" class="font-bold text-xl mx-5">{{ item.title }}</a>
                </li>
            </ul>
        }
    </div>

    <!-- Mobile menu -->
    @if (isMenuOpen()) {
        @defer {
            <div class="absolute z-40 border-b-4 border-black top-12 left-0 w-full bg-slate-600 flex flex-col items-center md:hidden">
                @for (item of menuItems; track $index) {
                    <ul class="w-full text-center">
                        <li class="py-2 border-b-2 border-black" (click)="collapseMenu()">
                            <a 
                                [routerLink]="item.path"
                                routerLinkActive="text-gray-900"
                                class="font-bold text-lg"
                            >
                                {{ item.title }}
                            </a>
                        </li>
                    </ul>
                }
            </div>
        }
    }
</div>